<div class="container-fluid" id="navigation-header-breadcrumb">
   <div class="row">
      <ol class="breadcrumb">
         <li>
            <a href="#home">Home</a>
         </li>
         <li>
            <a href="#home">Dashboard</a>
         </li>
      </ol>
   </div>
</div>
<div id ="wrapper">
   <div id="page-content wrapper">
		<div id="tab2" class="tab-pane fade in active">
		<div class="col-md-12">
		<!--			TABLES START-->
		<table>
			<caption>Doctor&#39;s Details</caption>
			<thead>
				<tr>
					<th scope="col">Dietitian Name</th>
					<th scope="col">Phone</th>
					<th scope="col">Email</th>
					<th scope="col">Speciality</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row" data-label="Provider Name"><input type="radio" name="doc" style="float:left;"/>Hesham</td>
					<td data-label="phone">1234567890</td>
					<td data-label="email">hesham123@abc.com</td>
					<td data-label="speciality">Cardiology</td>
				</tr>
				<tr>
					<td scope="row" data-label="Provider Name"><input type="radio" name="doc" style="float:left;"/>Amit</td>
					<td data-label="phone">1234778373</td>
					<td data-label="email">amit435@abc.com</td>
					<td data-label="speciality">Cardiovascular surgery</td>
				</tr>
				<tr>
					<td scope="row" data-label="Provider Name"><input type="radio" name="doc" style="float:left;"/>Anik</td>
					<td data-label="phone">1249234385</td>
					<td data-label="email">anik_12@abc.com</td>
					<td data-label="speciality">Dermatology</td>
				</tr>
			</tbody>
		</table>
		<!--			TABLES ENDS-->
	</div>
	<div class="col-md-12">
		<div class="col-md-12">
			<div class="col-md-4 ">
				<input type="submit" id="continue-button"
					class="action-button shadow animate teal"
					value="Call" style="margin-left: 1032px;"/>
			</div>
			<div class="col-md-4">
				<input type="submit" id="continue-button"
					class="  action-button shadow animate teal"
					value="Text" style="margin-left: 680px;"/>
			</div>
			<div class="col-md-4">
				<input type="submit" id="continue-button"
					class="  action-button shadow animate teal"
					value="Chat" style="margin-left: 330px;"/>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>