<div class="tab-content col-md-12" id="tab-content2">
<div class="col-md-12">
		<div class="col-md-12" id="health-goals-container">
			<h4>
				<i class="fa fa-heart" aria-hidden="true"></i> My Patients
			</h4>
		</div>
		<div class="col-md-12" id="mydiet_table-container">
			<ul class="col-md-12">
				<li class="col-md-3 text-left  ">
					<p>Patient Name</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Patient Diseases</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Last Interaction</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Appointment Date</p>
				</li>
			</ul>
			<ul class="col-md-12 mydiet_table-records">
				<li class="col-md-3 text-left  ">
					<p>Andrew</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Diabetes</p>
				</li>
				<li class="col-md-3 text-left">
					<p>20-01-2016</p>
				</li>
				<li class="col-md-3 text-left">
					<p>21-03-2016</p>
				</li>
			</ul>
			<ul class="col-md-12 mydiet_table-records">
				<li class="col-md-3 text-left  ">
					<p>Paul</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Fever</p>
				</li>
				<li class="col-md-3 text-left">
					<p>24-09-2016</p>
				</li>
				<li class="col-md-3 text-left">
					<p>01-10-2016</p>
				</li>
			</ul>
			<ul class="col-md-12 mydiet_table-records">
				<li class="col-md-3 text-left  ">
					<p>Christian</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Muscle Pain</p>
				</li>
				<li class="col-md-3 text-left">
					<p>01-11-2016</p>
				</li>
				<li class="col-md-3 text-left">
					<p>05-11-2016</p>
				</li>
			</ul>
			<ul class="col-md-12 mydiet_table-records">
				<li class="col-md-3 text-left  ">
					<p>Modric</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Knee bursitis </p>
				</li>
				<li class="col-md-3 text-left">
					<p>19-10-2016</p>
				</li>
				<li class="col-md-3 text-left">
					<p>19-11-2016</p>
				</li>
			</ul>
			<ul class="col-md-12 mydiet_table-records">
				<li class="col-md-3 text-left  ">
					<p>Leon</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Hamstring Injury</p>
				</li>
				<li class="col-md-3 text-left">
					<p>30-09-2016</p>
				</li>
				<li class="col-md-3 text-left">
					<p>31-12-2016</p>
				</li>
			</ul>
		</div>
	</div>
	</div>