<div class="tab-content col-md-12" id="tab-content2">
<div class="col-md-12">
		<div class="col-md-12" id="health-goals-container">
			<h4>
				<i class="fa fa-heart" aria-hidden="true"></i> My Patients
			</h4>
		</div>
		<div class="col-md-12" id="mydiet_table-container">
			<ul class="col-md-12">
				<li class="col-md-3 text-left  ">
					<p>Patient Name</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Patient Diseases</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Category</p>
				</li>
				<li class="col-md-3 text-left">
					<p>Appointment Date</p>
				</li>
			</ul>
			<ul class="col-md-12 mydiet_table-records" data-ng-repeat="patient in patientLilst | orderBy : 'nextVisit'">
				<li class="col-md-3 text-left  ">
					<p>{{patient.patientName}}</p>
				</li>
				<li class="col-md-3 text-left">
					<p>{{patient.disease}}</p>
				</li>
				<li class="col-md-3 text-left">
					<p>{{patient.category}}</p>
				</li>
				<li class="col-md-3 text-left">
					<p>{{patient.nextVisit | date:'dd/MM/yyyy' || 'NA'}}</p>
				</li>
			</ul>
		</div>
	</div>
	</div>